body {
    background-color: #333;  /* Koyu gri arka plan */
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 80px 40px;
}

.contact-form form {
    background: #444;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.contact-form button {
    padding: 12px 24px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #e64a19;
}

.warning {
    text-align: center;
    color: #f44336;  /* Daha koyu kırmızı */
    font-size: 13px;
    margin-top: 20px;
}
