main {
    display: flex;
    justify-content: space-between;
    padding: 80px 40px;  /* Daha fazla boşluk */
    background-color: #f9f9f9;
}

.contact-form form {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  /* Hafif gölge */
}

.contact-form button {
    padding: 12px 24px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 12px;  /* Yuvarlak köşeler */
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0046a0;
}

.warning {
    text-align: center;
    color: #ff6666;  /* Hafif kırmızı renk */
    font-size: 13px;
    margin-top: 20px;
}
